@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animate-slideUp {
    overflow: hidden;
    animation: slideUp 0.3s ease-out forwards;
  }

  .animate-slideDown {
    overflow: hidden;
    animation: slideDown 0.3s ease-in forwards;
  }
}

@keyframes slideUp {
  from {
    max-height: var(--radix-collapsible-content-height);
    opacity: 1;
  }
  to {
    max-height: 0;
    opacity: 0;
  }
}

@keyframes slideDown {
  from {
    max-height: 0;
    opacity: 0;
  }
  to {
    max-height: var(--radix-collapsible-content-height);
    opacity: 1;
  }
}

